<app-menu></app-menu>
<h3>Expense to be reviewed</h3>

<div *ngIf="expenses && expenses.length == 0">No expenses to pay</div>
<table *ngIf="expenses && expenses.length > 0" class="table table-striped table-sm">
    <thead>
        <tr>
            <th>Id</th>
            <th>Desc</th>
            <th>Status</th>
            <th>Total</th>
            <th>Employee</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let exp of expenses">
            <td>{{ exp.id }}</td>
            <td>{{ exp.desc }}</td>
            <td>{{ exp.status }}</td>
            <td>{{ exp.total | currency}}</td>
            <td>{{ exp.employee.name }}</td>
            <td>
                <a routerLink="/exp/review/{{exp.id}}" >Review</a>
            </td>
        </tr>
    </tbody>
</table>
